* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-size: 1.2rem;
	line-height: 2rem;
	font-family: sans-serif;
}
a {
	text-decoration: none;
}
.wrap {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mmenu {
	display: none;
}
header {
	border-bottom: 1px solid rgb(166, 65, 244);
	margin-bottom: 1rem;
}
header img {
	width: 4rem;
	margin-left: 48%;
	margin-top: 3rem;
}
nav {
	background: rgb(166, 65, 244);
	font-size: 0.8rem;
	position: fixed;
	top: 0rem;
	width: 100%;
	max-width: 100%;
	height: 2.3rem;
	color: white;
	line-height: 2.3rem;
}
nav a {
	text-decoration: none;
	color: #fff;
}
nav a:hover {
	text-decoration: none;
	color: rgb(166, 65, 244);
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}
nav ul li {
	display: inline-block;
	/* border-right: 1px solid black; */
	height: 100%;
	max-height: 100%;
	transition: 0.5s;
	color: white;
	font-weight: bold;
	margin-left: 1rem;
	height: 100%;
}
nav ul li:hover {
	background: #fff;
	color: rgb(166, 65, 244);
	transition: 0.5s;
	border-radius: 8px;
}
p {
	margin-bottom: 1rem;
}
footer {
	background: rgb(166, 65, 244);
	min-height: 4rem;
	color: #fff;
}
.up {
	visibility: hidden;
	height: 2.5rem;
	width: 2rem;
	font-size: 1em;
	background: rgb(166, 65, 244);
	font-size: 1rem;
	border-radius: 0.2rem;
	position: fixed;
	top: 80%;
	left: 1rem;
	text-align: center;
	transition: 0.1s;
}
.up a {
	color: #fff;
}
.up.show {
	visibility: visible;
    cursor: pointer;
	opacity: 0.9;
}
footer {
	max-width: 100%;
	width: 100%;
}
.p-footer {
	max-width: 100%;
	max-height: 50%;
}
.span-btn {
	color: #fff;
	background: rgb(166, 65, 244);
	border-radius: 7px;
}
@media all and (max-width: 780px) {

}
@media all and (max-width: 640px) {
	html {
		font-size: 1.4rem;
		line-height: 2.5rem;
	}
	nav {
		display: none;
	}
	.mmenu {
		display: block;
		height: 2rem;
		width: 1.9rem;
		font-size: 1em;
		background: rgb(166, 65, 244);
		font-size: 0rem;
		border-radius: 0.2rem;
		position: fixed;
	}
	.up {
		visibility: hidden;
		height: 2.5rem;
		width: 2rem;
		font-size: 1em;
		background: rgb(166, 65, 244);
		font-size: 1rem;
		border-radius: 0.2rem;
		position: fixed;
		top: 80%;
		left: 88%;
		text-align: center;
		transition: 0.1s;
}
	.mmenu ul {
		width: 100%;
		height: 100%;
	}
	.mmenu ul a {
		color: #fff;
	}
	.mmenu ul:hover {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		list-style: none;

	}
	.mmenu:hover {
		top: 0rem;
		margin-left: 0rem;
		width: 90%;
		height: 100%;
		font-size: 1.3rem;
		color: #fff;
	}
	.mmenu li:hover {
		color: rgb(166, 65, 244);
		background: #fff;
	}

}